.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #044955;
    border: 2px solid aqua;
    width: 450px;
    height: 300px;
    border-radius: 15px;
}

.counter div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    width: 90%;
    height: 50%;
    border: 2px solid aqua;
}

.counter>*:last-child {
    height: 30%;
    justify-content: space-around;
}


.text {
    color: aqua;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
}

.max {
    font-size: 75px;
}

.max,
.inCorrect {
    color: red;
}