.app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #6f33b8;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #c8ade6;
    width: 500px;
    height: 300px;
    border-radius: 15px;
}

.inc {
    display: none;
}

.settings.none {
    display: none;
}

.settings {
    display: flex;
    flex-direction: column;
}

span {
    color: #284040;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
}

.max {
    color: red
}

.btn-wrap {
    display: flex;
    width: 220px;
    justify-content: space-between;
}

.btn-wrap-hidden-expect-last button > *:not(:last-child) {
    display: none;
}

button {
    color: #284040;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    background-color: #00e5ff;
    width: 100px;
    height: 40px;
}

.dis-btn {
    opacity: 0.3;
}
